<launch>

  <arg name="comport" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>
  <arg name="num_grippers" default="1"/>

  <!-- Robotiq 85 ROS Driver -->
    <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
        <param name="num_grippers" value="$(arg num_grippers)" />
        <param name="comport" value="$(arg comport)" />
        <param name="baud" value="$(arg baud)" />
    </node>


   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
           
   </node>

  <node name="robotiq_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
                <param name="robot_description" value="robot_description"/>
                <param name="publish_frequency" type="double" value="100.0" />
                <param name="tf_prefix" value=""/>
            </node>

</launch>
